:root{
  /* colors */
  --primary-white: 0, 0%, 100%;
  --primary-black:  0, 0%, 0%;
  --primary-dark-gray: 0, 0%, 55%;
  --primary-very-dark-gray: 0, 0%, 41%;

  /* font-weight */
  --fw-light: 300;
  --fw-regular: 400;

  /* font family */
  --base-font: 'Alata', sans-serif;
  --header-font: 'Josefin Sans', sans-serif;

  --wrapper-padding-inline: 2rem; 
}

body{
  font-size: 0.9375rem;
  font-family: var(--base-font);
  text-align: center;
}

main{
  --wrapper-padding-block: 5.5rem;
}

main > section{
  min-height: 100vh;
  display: grid;
  place-content: center;
  /* border: 2px greenyellow solid; */
}


header{
  color: hsl(var(--primary-white));
  /* should use has statement for condition dependent on if child is hero then select the parent header */
  background-image: url(../images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  align-content: center;
}

footer{

}

h1, h2, h3, .our-creations__title{
  font-family: var(--header-font);
  text-transform: uppercase;
}

h2{
  font-weight: bold;
}

h3{

}

a{
  color: inherit;
  text-decoration: none;
}

/* blocks */
.header-nav{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.hero{
  font-size: 1.6rem;
  /*why does this work but not margin-block: auto? */
  padding-block: auto;
}

.hero h2{
  /* font-size: 1.6rem; */
  border: 2px solid hsl(var(--primary-white));
  margin-inline: var(wrapper-padding-inline);
  padding: 1rem;
  line-height: 1;
}

.interactive-section img{
  margin-inline: auto;
}

.our-creations{
  --flow-space: 1.75em;
}

.our-creations ul{
  --grid-gap: 1.2rem;
}

.our-creations__creation{
  position: relative;
  max-width: fit-content;
}

.our-creations__creation :is(picture, img){
  height: 100%;
  object-fit: cover;
}

.our-creations__title{
  color: hsl(var(--primary-white));
  position: absolute;
  font-size: 1.375rem;
  line-height: 1;
  text-align: left;
  position: absolute;
  z-index: 1;
  left: 1rem;
  bottom: 1rem;
}

.our-creations__creation h3{
  /* margin-top: auto; */
}

.see-all{
  display: inline-block;
  border: 1.5px solid hsl(var(--primary-black));
  padding: .5em 3em;
  text-transform: uppercase;
  letter-spacing: .25em;
  max-width: fit-content;
  margin-inline: auto;
}

.socials{
  --flex-gap: 1rem;
  justify-content: center;
}

.footer__logo{
  margin-inline: auto;
}

.footer__nav{
  --grid-gap: 1rem;
  padding-block: 2.5rem;
}

.footer__copyright{
  padding-block: 1rem;
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/* composition */
.flex{
  display: flex;
  flex-direction: var(--flex-dir, row);
  gap: var(--flex-gap, 0rem)
}

.grid{
  display: grid;
  grid-auto-flow: var(--grid-flow, row);
  gap: var(--grid-gap, 0rem)
}

/* utilities */
.flow > * + * {
  margin-top: var(--flow-space, 1em)
}

.wrapper{
  max-width: 75rem;
  padding-inline: var(--wrapper-padding-inline, 2rem);
  padding-block: var(--wrapper-padding-block, 2rem);
  margin-inline: auto;
}

.image-overlay{
  position: absolute;
  inset: 0;
  z-index: 1;
  background: var(--overlay-clr, linear-gradient(to right, hsl(var(--primary-black), .5),  hsl(var(--primary-black), 0)));
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.text-back{
  color: hsl(var(--primary-black));
}

.text-dark{
  color: hsl(var(--primary-very-dark-gray));
}

.text-medium{
  color: hsl(var(--primary-dark-gray));
}

.text-white{
  color: hsl(var(--primary-white));
}

.bg-black{
  background-color: hsl(var(--primary-black));
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}